* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75rem;
  letter-spacing: 1px;
  margin: 3rem 0 2rem 0;
  background-color: #fffaf0;
}

.title {
  margin: 2rem 0 2rem 0;
  display: block;
  background: linear-gradient(
    90deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );
  text-align: center;
  color: #023047;
}

.recipe-link {
  margin: 0 0 10px 0;
}

figure {
  margin: 2rem 0 2.75rem;
}

figure img {
  width: 100%;
  object-fit: cover;
  border-radius: 4%;
}

.section-header {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.container {
  width: 800px;
  margin: 0 auto;
}

p {
  margin-bottom: 1.5rem;
}

.ingredient-list {
  margin: 1.75rem 0 2.5rem 16px;
}

.description {
  margin: 2rem 0;
}

li::marker {
  color: orange;
}

span {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}

ol li {
  margin: 1.5rem 0;
  list-style-type: none;
}

aside p {
  margin-bottom: -1rem;
}

.recipe-links {
  list-style-type: square;
  margin: 2rem 0 17px 18px;
}

.recipe-links li::marker {
  color: red;
}

footer {
  text-align: center;
  margin-top: 4rem;
  background-color: #318ce7;
}

a:link {
  color: #2973b2;
  cursor: pointer;
}

a:visited {
  color: #344cb7;
}

a:hover {
  font-weight: bold;
}

a:active {
  font-size: 1.5rem;
}
